octopus:
  default: &default
    host: localhost
    adapter: postgresql
    encoding: unicode
    pool: 10
    port: 5432
    username:
    password:

  shards:
    one:
      <<: *default
      database: penthouse_octopus_one

    two:
      <<: *default
      database: penthouse_octopus_two
